body {
    font-family:  sans-serif;
    color: #4f4f5d;
}
@media (max-width: 900px) {
    #boxA {
        display: none !important;
        visibility: hidden !important;
        border-radius: 0px !important;
    }
}
@media (min-width: 900px) {
    body{
        background-image: linear-gradient(to top, #e2f1f6, #f7fbfc) !important; 
        background-attachment: fixed !important;
    }
    #parent {
        border-radius: 5px !important; 
        display: flex !important; 
        position: absolute !important; 
        top: 50%; left: 50% !important; 
        transform: translate(-50%, -50%) !important; 
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2) !important;
    }
}