body {
    font-family:  sans-serif;
    color: #4f4f5d;
}
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
  p {
    display: flex;
    justify-content: flex-end;
  }
  label, input {
    font-size: 0.9001rem;
  }
  a {
    text-decoration: none;
    color: #2e72f1;
    font-size: 0.9em;
    font-weight: bold;
  }

  /* small screen */
@media (max-width: 900px) {
    #boxA {
        display: none !important;
        visibility: hidden !important;
    }
    #parent {
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box !important;
        overflow-x: hidden !important;
    }
    #boxB {
        height: 100% !important;
        width: 100% !important;
    }
    #boxB h3 {
        padding-bottom: 20px !important;
        text-align: center !important;  
    }
    form {
        padding-top: 8px !important;
        padding-left: 22px !important;
        padding-right: 22px !important;
    }
    input {
        width: 92.5% !important;
        padding: 10px !important;
        padding-left: 16px !important;
        border: 0.5px solid #f0f1f1 !important;
        background-color: #f9fafb !important;
        border-radius: 3px !important;
    }
    .submit {
        width: 100% !important;
        padding: 10px !important;
        color: #fff;
        border: 0.5px solid #80c3d8 !important;
        background-color: #80c3d8 !important;
        border-radius: 3px !important;
    }
}

    /* large screen */
@media (min-width: 900px) {
    body{
        background-image: linear-gradient(to top, #e2f1f6, #f7fbfc) !important; 
        background-attachment: fixed !important;
    }
    #parent {
        border-radius: 5px !important; 
        display: flex !important; 
        position: absolute !important; 
        top: 50%; left: 50% !important; 
        transform: translate(-50%, -50%) !important; 
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2) !important;
    }
    #boxB {
        width: 512px; 
        height: 489.60px;
    }
}